@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-bg-primary: #1A1A1A;
  --color-bg-surface: #2E2E2E;
  --color-bg-deep: #222222;
  --color-accent: #89E900;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #AAAAAA;
  --color-danger: #FF4D4D;
  --color-divider: #333333;
}

@layer base {
  body {
    @apply bg-bg-primary text-text-primary font-sans antialiased;
    background-color: #1A1A1A;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
